<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="en">
    <head>
        <meta name="image" property="og:image" content="https://2d-array-rotation.com/static/images/2d_array_rotation.jpg">
        <meta name="title" property="og:title" content="my code rotates in anti-clockwise direction internal grids, Check this out." >
        <meta name="description" property="og:description" content="Numbers are Amazing! python + angular, the grid generator can create grids by any numbers of columns and rows" >
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" property="og:title" content="2d Array Rotation" >
        <meta name="twitter:image" content="https://2d-array-rotation.com/static/images/2d_array_rotation.jpg">
        <meta name="twitter:image:alt" content="the idea">
        <base href="/">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>2d Array Rotation</title>
        <link rel="icon" type="image/x-icon" href="static/images/favicon.ico" >
        <link rel="stylesheet" href="static/scripts/dst/styles.css">
    </head>
    <body>
        <app-root></app-root>
        <script src="static/scripts/dst/runtime.js" type="module"></script>
        <script src="static/scripts/dst/polyfills.js" type="module"></script>
        <script src="static/scripts/dst/main.js" type="module"></script></body>

        
    </body>
</html>
