 
 
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
 
        <svg style="width:24px;height:24px; margin-right: 7px" viewBox="0 0 24 24">
            <path fill="#1b95e0" d="M13 3V11H21V3H13M3 21H11V13H3V21M3 3V11H11V3H3M13 16H16V13H18V16H21V18H18V21H16V18H13V16Z" />
        </svg>


          2d Array Rotation 
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
 
 
  </nav>

   <div class="container" >
        <router-outlet></router-outlet>
    </div>

    <footer class="footer">
        <div class="container">
          <span class="text-muted"><img src="static/images/icons8-linkedin-40.png"></span> <a href="https://www.linkedin.com/in/brian-sanchez-84984799/">Brian Sanchez</a>
        </div>
      </footer>